.q-wrapper {
    background-color: #fff;
    padding: 16px;
    border-radius: var(--radius-medium);
}

@media (max-width: 576px) {
    .q-wrapper {
        .answer {
            max-width: 245px !important;
        }
    }

}